{% load static %}
{% load tags %}


<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Notes</title>
</head>

<body>
<!--navigation bar-->
{% have_a_profile as user_profile %}
<header>
    <nav>
        <ul>
            {% if not user_profile %}

                <li class="img"><img src="{% static 'images/note.png' %}" alt=""/></li>
                <li><a href="{% url 'home' %}">Notes</a></li>
            {% else %}
                <li class="img"><img src="{% static 'images/note.png' %}" alt=""/></li>
                <li><a href="{% url 'home' %}">Notes</a></li>
                <li class="right">
                <a href="{% url 'add note' %}">Add Note</a>
                <a href="{% url 'profile' %}">Profile</a>
            {% endif %}
            </li>
        </ul>
    </nav>
</header>
<!--end navigation bar-->
{% block content %}

{% endblock %}
<!--end notes container-->

<footer>
    <div>Python Web Basics Exam @SoftUni</div>
</footer>
</body>
</html>
